<launch>

  <node pkg="rosbag" type="record" name="rosbag_record" args="record
  /height_above_takeoff
  /dji_sdk/acceleration_ground_fused 
  /dji_sdk/angular_velocity_fused 
  /dji_sdk/attitude
  /dji_sdk/battery_state 
  /dji_sdk/flight_status 
  /dji_sdk/gps_health 
  /dji_sdk/gps_position
  /dji_sdk/height_above_takeoff
  /dji_sdk/imu /dji_sdk/rc
  /dji_sdk/velocity 
  /tf_static
  /tf
  /os1_cloud_node/imu 
  /os1_cloud_node/points_non_dense
  /camera/rgb/image_raw/compressed
  /camera/rgb/camera_info
  /camera/depth_registered/camera_info
  /camera/depth_registered/image/compressed
  /mission_interface/start_mission
  /mission_interface/uav_ready_for_mission
  /tie_controller/set_length
  /tie_controller/enable
  /tie_controller/length_status
  /tie_controller/length_reached

 " />

</launch>
