<launch>
     
  <include file="$(find marsupial_launchers)/drone_launch/os1_sensor.launch" />
  <include file="$(find marsupial_launchers)/drone_launch/frames.launch" /> 
  <!-- <include file="$(find astra_camera)/launch/astra.launch"/> -->
  <include file="$(find marsupial_launchers)/drone_launch/usb_cam.launch"/>

</launch>
