<launch>

    <param name="use_sim_time" value="true"/>
    <arg name="bag_name" default="2023-02-14-17-34-37_edited.bag"/>
    <arg name="bag_file" default="$(env HOME)/Documents/Bags/edificio45_with_OS1_IMU/with_idmind_arco_imu/$(arg bag_name)"/>
  
    
    <node name="bag_player" pkg="rosbag" type="play" args="$(arg bag_file) --clock --pause " output="screen">
        <remap from="/tf" to="/tf_non"/>
        <remap from="/tf_static" to="/tf_static_non"/>
    </node>



</launch>