<launch>

    <param name="use_sim_time" value="true"/>
    <arg name="bag_name" default="2023-02-14-17-34-37_edited.bag"/>
    <arg name="bag_file" default="$(env HOME)/Documents/Bags/edificio45_with_OS1_IMU/with_idmind_arco_imu/$(arg bag_name)"/>
    <arg name="rviz" default="true"/>

    <include file="$(find marsupial_launchers)/arco_launch/dll_arco.launch"/>
    <include file="$(find marsupial_launchers)/arco_launch/frames_arco.launch"/>
    
   

    <node pkg="rviz" name="rviz" type="rviz" args="-d $(find marsupial_launchers)/viz/localization_arco.rviz" if="$(arg rviz)"/>


</launch>