<launch>

    <arg name="bag_name" default="2023-02-14-17-34-37_edited.bag"/>
    <arg name="bag_file" default="$(env HOME)/Documents/Bags/edificio45/rellano_with_OS1_IMU/with_idmind_arco_imu/$(arg bag_name)"/>
    <arg name="rviz" default="true"/>
    <arg name="map_name" default="teatro"/>
    <!-- <arg name="map_name" default="cutted_rellano45"/> -->
    <arg name="use_bag" default="false"/>
    <param name="use_sim_time" value="$(arg use_bag)"/>

    <include file="$(find marsupial_launchers)/arco_launch/dll_arco.launch">
        <arg name="map" value="$(arg map_name).bt"/>
    </include>
    
    <include file="$(find marsupial_launchers)/arco_launch/frames_arco.launch" if="$(arg use_bag)"/>

    <node name="bag_player" pkg="rosbag" type="play" args="$(arg bag_file) --clock --pause " output="screen" if="$(arg use_bag)" >
        <remap from="/tf" to="/tf_non"/>
        <remap from="/tf_static" to="/tf_static_non"/>
    </node>
    
    <node pkg="rviz" name="rviz" type="rviz" args="-d $(find marsupial_launchers)/viz/localization_arco.rviz" if="$(arg rviz)"/>

</launch>